# Git / VCS
.git
.gitignore

# Node / caches
node_modules
**/node_modules
.cache
**/.cache
.yarn
.pnp
.pnp.js

# Python
__pycache__/
*.pyc
venv/
.venv/

# Builds
dist
build
.next
out

# Local envs
.env
.env.*
**/.env
**/.env.*

# Tools / misc
.ipynb_checkpoints
.chainlit
.emergent
emergent.yml
